# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/crash.log
terraform/.terraform.lock.hcl

# .NET
backend/bin/
backend/obj/

# Docker / logs / variables
*.log
.env

# OS
.DS_Store
